# Port the backend server will listen on
PORT=8000

# MongoDB Connection URI (local or Atlas)
MONGO_URL=mongodb+srv://saurabhkumarr8058_db_user:<db_password>@cluster0.z911ltm.mongodb.net/connectnow?retryWrites=true&w=majority&appName=Cluster0
